<!DOCTYPE html>
<html class="core" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<base href="{{basePath}}"/>

		<script>
			var script = document.createElement('script');
			var supportsDeferredScripts = "defer" in script && "async" in script;
			window.cutsTheMustard = (typeof document.documentElement.dataset === 'object' && ('visibilityState' in document) && supportsDeferredScripts);

			if (window.cutsTheMustard) {
				document.documentElement.classList.replace('core', 'enhanced');
			}
		</script>

		<style>
			.core .o--if-js,
			.enhanced .o--if-no-js {
				display: none !important;
			}
			html {
				font-family: BentonSans, sans-serif;
				overflow-x: hidden;
			}
			body {
				margin: 0;
			}
			.o-layout__header .o-header-services__top .o-header-services__ftlogo {
				background-image: url("https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:origami?source=origami-build-service");
			}
		</style>

		<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-layout@^2.0.1,o-fonts@^3.0.4,o-syntax-highlight@^1.5.1" />
		<link rel="stylesheet" href="main.css" />
		<script src="https://polyfill.io/v2/polyfill.min.js?features=fetch,default"></script>
		<script>
			(function(src) {
				if (window.cutsTheMustard) {
					script.async = script.defer = true;
					script.src = src;
					var s = document.getElementsByTagName('script')[0];
					s.parentNode.insertBefore(script, s);
				}
			}('https://www.ft.com/__origami/service/build/v2/bundles/js?modules=o-layout@^2.0.1,o-syntax-highlight@^1.5.1'));
		</script>
		<script src="main.js"></script>

	</head>
	<body class="o-techdocs">

		<header data-o-component="o-header" class="o-header">
			<div class="o-header__container">
				<div class="o-header__primary">
					<div class="o-header__primary__left">
						<a href="/">
							<span class="origami-logo">
							</span>
							<h1 class="o-header__title">Origami Navigation Service</h1>
						</a>
					</div>
				</div>
				<div class="o-header__secondary"></div>
			</div>
		</header>

		{{{body}}}

		<footer class="o-techdocs-footer">
			<div class="o-techdocs-footer__inner">
				<p>&copy; THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.</p>
			</div>
		</footer>

	</body>
</html>
